* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --color-main: #6750a4;
  --color-second: #f3edf7;
  --color-text: #000;
  --font-titre: "Italiana", serif;
  --font-texte: "Inter", sans-serif;
}
body {
  font-family: var(--font-texte);
}
h1,
h2,
h3,
h4 {
  color: var(--color-main);
  font-family: var(--font-titre);
  font-weight: 500;
}
