.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  transition: all 0.3s ease;
  background: rgba(243, 237, 247, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  transition: 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* état après scroll */
.header--small {
  padding: 0.6rem 2rem;
}

.header--small .logo {
  font-size: 1.3rem;
}

.section-home {
  min-height: 100vh;
}
.section-home h1 {
  text-align: center;
  font-size: 64px;
  padding: 20px 0;
}
.main-container {
  display: flex;
  padding-top: 150px;
}
.left-container,
.right-container {
  flex: 1;
  align-items: center;
  min-height: 80vh;
}
.left-container {
  border-right: 1px solid var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.input-container {
  display: flex;
  align-items: center;
  background-color: var(--color-second);
  width: 360px;
  height: 55px;
  border-radius: 28px;
  color: var(--color-main);
  padding: 20px;
  transition: all 0.1s ease-in-out;
}
.input-container:focus-within {
  box-shadow: 0px 2px 5px #00000080;
}
.input-container input {
  background-color: transparent;
  width: 360px;
  height: 55px;
  border-radius: 28px;
  color: var(--color-main);
  font-size: 16px;
  outline: none;
  border: none;
}
.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 815px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .left-container {
    border-right: none;
  }

  .left-container,
  .right-container {
    min-height: 50vh;
  }
}
